.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
}

.main li {
  margin: 10px 0px;
}

.main h2 {
  margin-top: 20px;
}

.block {
  display: block;
}