.scanned {
    font-weight: lighter;
    text-decoration: line-through;
    background-color: rgb(170, 255, 170);
}

.unscanned {
    font-weight: bold;
    background-color: rgb(255, 198, 198);
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    max-width: 600px;
}

.boardItem {
    max-width: 100px;
    padding: 5px;
    margin: 5px;
    /* Ensures that the items are square; padding is calculated as a percentage of width. */
    aspect-ratio: 1;
    border-color: black;
    border-style: solid;
    border-radius: 10%;
    display: flex;
    align-items: center;
    text-align: center;
}